<!-- Google map code from EZ Map - https://ezmap.co -->
<script src='https://maps.googleapis.com/maps/api/js?key='></script>
<script>
  function init() {
    var mapOptions = { "center": {  "lat": -17.407073623263866,  "lng": -66.01421063126111 }, "clickableIcons": true, "disableDoubleClickZoom": false, "draggable": true, "fullscreenControl": true, "keyboardShortcuts": true, "mapMaker": false, "mapTypeControl": true, "mapTypeControlOptions": {  "text": "Default (depends on viewport size etc.)",  "style": 0 }, "mapTypeId": "satellite", "rotateControl": true, "scaleControl": true, "scrollwheel": true, "streetViewControl": true, "styles": false, "zoom": 20, "zoomControl": true};
    var mapElement = document.getElementById('ez-map');
    var map = new google.maps.Map(mapElement, mapOptions);
    var marker0 = new google.maps.Marker({title: "udabol", icon: "https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi.png", position: new google.maps.LatLng(-17.390812129837638, -66.06903566960142), map: map});
var infowindow0 = new google.maps.InfoWindow({content: "<h3 class=\"infoTitle\">udabol</h3><p><span class=\"infoEmail\"><a href=\"mailto:admin\">admin</a><br></span><span class=\"infoTelephone\">01264598749</span></p>",map: map});
marker0.addListener('click', function () { infowindow0.open(map, marker0) ;});infowindow0.close();
var marker1 = new google.maps.Marker({title: "ramiroMamani", icon: "https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi.png", position: new google.maps.LatLng(-17.411738917625662, -66.07631947133456), map: map});
var infowindow1 = new google.maps.InfoWindow({content: "<h3 class=\"infoTitle\">ramiroMamani</h3><p><span class=\"infoWebsite\"><a href=\"http:/ramiro\">http:/ramiro</a><br></span><span class=\"infoEmail\"><a href=\"mailto:ramiro123@gmail.com\">ramiro123@gmail.com</a><br></span><span class=\"infoTelephone\">67470820</span></p>",map: map});
marker1.addListener('click', function () { infowindow1.open(map, marker1) ;});infowindow1.close();
var marker2 = new google.maps.Marker({title: "leydy", icon: "https://maps.gstatic.com/mapfiles/api-3/images/spotlight-poi.png", position: new google.maps.LatLng(-17.407257898024632, -66.01426903217146), map: map});
var infowindow2 = new google.maps.InfoWindow({content: "<h3 class=\"infoTitle\">leydy</h3><p><span class=\"infoEmail\"><a href=\"mailto:leydy@gmail.com\">leydy@gmail.com</a><br></span><span class=\"infoTelephone\">71704517</span></p>",map: map});
marker2.addListener('click', function () { infowindow2.open(map, marker2) ;});infowindow2.close();

    google.maps.event.addDomListener(window, "resize", function() { var center = map.getCenter(); google.maps.event.trigger(map, "resize"); map.setCenter(center); });
  }
google.maps.event.addDomListener(window, 'load', init);
</script>
<style>
  #ez-map{min-height:150px;min-width:150px;height: 420px;width: 100%;}
  #ez-map .infoTitle{}
  #ez-map .infoWebsite{}
  #ez-map .infoEmail{}
  #ez-map .infoTelephone{}
  #ez-map .infoDescription{}
</style>
<div id='ez-map'></div>
<!-- End of EZ Map code - https://ezmap.co -->

